.david-wrapper {
    height: calc((725/514) * 25vw);
    width: 25vw;
    background-image: url("./david/david-nobg.png");
    background-size: cover;
    position: relative;
}

.eyes {
    height: auto;
    width: 87.6%;
    position: absolute;
    top: 27%;
}

.eye {
    height: 100%;
    width: 100%;
}
