:root {
    --davidwidth: 26vw;
}

.david {
    height: calc((725/514) * var(--davidwidth));
    width: var(--davidwidth);
    background-image: url("./david/david-nobg.png");
    background-size: cover;
    position: relative;
}

.eyes {
    height: auto;
    width: 87.6%;
    position: absolute;
    top: 27.1%;
}

.eye {
    height: 100%;
    width: 100%;
}
