.Navbar {
    height: 100vh;
    width: 150px;
    font-size: 17px;
    min-height: 500px;
    padding-left: 30px;
    position: fixed;
    z-index: 99;
}

/*------------------------------ Name Logo -----------------------------------*/

.logo {
    height: 80px;
    width: 122px;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 40px;
    margin-top: 30px;
    text-decoration: none;
    transition: 0.7s;
}

.logo a {
    color: white;
    text-decoration: none;
}

.yifan {
    background: linear-gradient(to left, #ff4834 50%, #01b7cd 50%) right;
    background-size: 200%;
    transition: 0.7s;
    transition-delay: 0.3s;
}

.logo:hover .yifan {
    background-position: left;
    transition: 0.7s;
}

.yang {
    background: linear-gradient(to left, #ff4834 50%, #01b7cd 50%) right;
    background-size: 200%;
    transition: 0.7s;
}

.logo:hover .yang {
    background-position: left;
    transition: 0.7s;
    transition-delay: 0.3s;
}

.yifan::after, .yang::after {
    content: " ";
    white-space: pre;
}

/*---------------------------- Categories tabs -------------------------------*/

.nav-wrapper {
    height: 70%;
    position: relative;
}

.categories-list {
    list-style-type: none;
    margin-left: 5px;
    padding: 0px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.categories-list li {
    display: inline-block;
    margin-bottom: 30px;
}

.categories {
    position: relative;
}

.categories:before, .categories:after {
    height: 3px;
    width: 0%;
    background: #ff4834;
    content: '';
    margin-top: -0.5px;
    position: absolute;
    top: 50%;
}

.categories:before {
    left: -2.5px;
}

.categories:after {
    background: #ff4834;
    right: 2.5px;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.categories:hover:before {
    width: 100%;
    background: #ff4834;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.categories:hover:after {
    width: 100%;
    background: transparent;
    transition: 0s;
}

/*----------------------------- Social media ---------------------------------*/

.social-buttons {
    bottom: 0;
    margin-left: 6px;
    position: absolute;
}

.social {
    color: black;
    font-size: 23px;
    margin-right: 10px;
    transition: 0.7s;
}

.social:hover {
    color: #ff4834;
    transition: 0.7s;
}
