.Navbar {
    height: 100vh;
    width: 150px;
    font-size: 17px;
    min-height: 700px;
    padding-left: 30px;
    position: fixed;
    z-index: 99;
}

/*------------------------------ Name Logo -----------------------------------*/

.logo {
    height: 80px;
    width: 122px;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    margin-top: 155px;
    text-align: right;
    text-decoration: none;
    transition: 0.7s;
    transform: rotate(-90deg);
    transform-origin: 0% 0%;
}

.logo a {
    color: black;
    text-decoration: none;
}

.logo:hover {
    width: 120px;
    transition: 0.7s;
}

.logo span {
    color: black;
    transition: 0.7s;
}

.logo:hover span {
    color: #ff4834;
    transition: 0.7s;
}

/*---------------------------- Categories tabs -------------------------------*/

.categories-list {
    list-style-type: none;
    margin-left: 5px;
    padding: 0px;
}

.categories-list li {
    display: inline-block;
    margin-bottom: 30px;
}

.categories {
    position: relative;
}

.categories:before, .categories:after {
    height: 3px;
    width: 0%;
    background: #ff4834;
    content: '';
    margin-top: -0.5px;
    position: absolute;
    top: 50%;
}

.categories:before {
    left: -2.5px;
}

.categories:after {
    background: #ff4834;
    right: 2.5px;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.categories:hover:before {
    width: 100%;
    background: #ff4834;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.categories:hover:after {
    width: 100%;
    background: transparent;
    transition: 0s;
}

/*----------------------------- Social media ---------------------------------*/

.social-buttons {
    bottom: 180px;
    margin-left: 6px;
    position: absolute;
}

.social {
    color: black;
    font-size: 23px;
    margin-right: 10px;
    transition: 0.7s;
}

.social:hover {
    color: #ff4834;
    transition: 0.7s;
}
