.Intro {
    height: 100vh;
    width: 50%;
    font-size: 80px;
    letter-spacing: 1px;
    margin-left: 320px;
}

.introtext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.description {
    color: #ff4834;
    font-weight: 700;
}