.frame {
    height: var(--davidheigth);
    width: var(--davidwidth);
    cursor: pointer;
    position: absolute;
}

.circle-top-david {
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.top-before {
    height: var(--davidheigth);
    width: var(--davidheigth);
    transition: 1.2s;
}

.top-after {
    height: 0;
    width: 0;
    transition: 0.4s;
    transition-delay: 1.9s;
}

.circle-negative {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.negative-before {
    height: 0;
    width: 0;
}

.negative-after {
    height: var(--davidheigth);
    width: var(--davidheigth);
    transition: 1.9s;
}


.david-background {
    height: var(--davidheigth);
    width: var(--davidwidth);
    background-image: url("./david/david-nobg.png");
    background-size: cover;
    position: relative;
    mix-blend-mode: difference;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.david-bottom {
    filter: grayscale(90%);
}

.eyes {
    height: auto;
    width: 87.6%;
    position: absolute;
    top: 27.06%;
}

.eye {
    height: 100%;
    width: 100%;
}
